body {
  height: 100vh;
  background-color: #8a2be2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  font-size: 30px;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn:active {
  padding: 10px 20px;
}

.hexCode {
  color: white;
}
